textarea {    
    width: 100%;
    height: 100px;    
}

.mat-card {    
    width: 90%;
}

.mat-card-header {
    justify-content: center;
}

.mat-card-content {
    justify-content: center;
    height: 150px;
}